*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}

.nav-primary{
    background-color: #fff;
    padding: 0;
}

.nav-primary li{
    transition: 0.5s ease-in-out;
}


.nav-primary li:hover{
    background:rgb(85, 223, 223);
    border-radius: 5%;
}

.nav-bottom{
    border-bottom: 0.1px solid rgb(214, 209, 209);
    padding-bottom: 10px;
}

.logo{
    font-size: 30px;
    color: rgb(16, 115, 145);
}

.brand-name{
    font-size: 30px;
    font-weight: bolder;
    font-family: Poppins;
}

.form-control{
    border: 0.1px solid rgb(173, 169, 169);
    margin-left: 70px;
}

.search{
    border: 0.1px solid rgb(173, 169, 169);
}

.cart{
    border: 0.1px solid rgb(173, 169, 169);
}

.card{
    border: none;
}

.fa-brands{
    cursor: pointer;
}


